<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.user.UserLoginActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".activity.MyModularActivity"
            android:launchMode="standard" />

        <activity
            android:name="com.example.administrator.demo.activity.UserFollowActivity"
            android:launchMode="standard" />
        <activity android:name=".activity.setting.SettingActivity" />
        <activity android:name=".activity.setting.AccountActivity" />
        <activity android:name=".activity.setting.UpdatePhoneActivity" />
        <activity android:name=".activity.setting.UpdatePhoneSuccessActivity" />
        <activity android:name=".activity.setting.UpdatePwdSuccessActivity" />
        <activity android:name=".activity.setting.UpdatePwdActivity" />
        <activity android:name=".activity.setting.BindEmailActivity" />
        <activity android:name=".activity.setting.BindEmailSuccessActivity" />
        <activity android:name=".activity.setting.UpdateEmailSuccessActivity" />
        <activity android:name=".activity.setting.CallBackActivity" />
        <activity android:name=".activity.setting.CallBackSuccessActivity" />
        <activity android:name=".activity.setting.HelpActivity" />
        <activity android:name=".activity.money.MyMoneyActivity" />

        <activity android:name=".activity.record.RecordActivity" />
        <activity android:name=".activity.wallet.RechargeActivity" />
        <activity android:name=".activity.record.IntegralShappingActivity" />
        <activity android:name=".activity.record.IntegralActivity" />
        <activity android:name=".activity.vip.MyVipActivity" />
        <activity android:name=".activity.comment.Sc_Zan_Comment_LsActivity" />
        <activity android:name=".activity.personal.MyPersonalSQActivity" />
        <activity android:name="com.example.administrator.demo.activity.adress.ZjActivity" />
        <activity android:name="com.example.administrator.demo.activity.adress.ZjAddActivity" />
        <activity android:name="com.example.administrator.demo.activity.setting.MoreActivity" />


    </application>

</manifest>